body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
    color: black;
}
ul, li {
    list-style-type: none;
}

/*Header start*/
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}
.logo-span {
    color: #2e2f42;
}
 
.header-navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-navigation-list:hover,
.header-navigation-list:focus {
    color: #404bbf;
}
.header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.header-contacts:hover 
.header-contacts:focus {
    color: #404bbf;
}
/*Header end*/

/*Blok H1 start*/
.main-text {
    background-color: #2e2f42;
}
.main-text-first {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.button-order {
    font-family: "Roboto", sans-serif
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
  }
  .button-order:hover,
  .button-order:focus {
    background-color: #404bbf;
  }
/*Blok H1 end*/

/*Benefits start*/
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}  

.benefits-list {
    flex-wrap: wrap;
    justify-content: center;
}
.benefits-list-item {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.benefits-list-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 10px;
}
.benefits-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/*Benefits end*/

/*Team start*/
.team {
    background: #F4F4FD;
}
.time-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-list-item {
    background-color: #FFFFFF;
}

.team-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 10px;
    color: #2e2f42;
}

.team-list-item-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*Team end*/

/*Portfolio start*/
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-list-item-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*Portfolio end*/

/*Footer start*/
.footer {
    background: #2e2f42;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #f4f4fd;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #f4f4fd;
}
/*Footer end*/
